.myself {
    margin-top: 200px;
    width: 600px;
}

.myself__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.myself__bio {
    font-size: 18px;

}
.myself__signature {
    width: 400px;
}